23을 5로 나누었을 때의 몫과 나머지 구하기

In [ ]:
divmod(23,5)

16진수 FF의 10진수 값 구하기

In [ ]:
0xFF

 8진수 33의 10진수 값 구하기

In [ ]:
0o33

제시된 숫자의 각 자리 수 합 구하기

In [ ]:
num = 215179
total=0
num_list=str(num)
for num in num_list:
    total+=int(num)
print(total)

In [3]:
num=215179
total=0
while num > 0:
    n=num%10
    total+=n
    num=num//10
print(total)

25

백의 자리 이하 숫자 버리기 (456 → 400 111 → 100)

In [1]:
num = 978
result = 0

if num >0:
    result=num//100*100
print(result)

900

"Life" is too short, You need 'Python' 출력하기

In [8]:
print('"Life" is too short,'+ "You need 'python'")

"Life" is too short,You need 'python'

아래와 같은 문자열에서 "short"라는 문자열이 시작되는 위치(인덱스) 구하기

In [10]:
s = 'Life is too short, You need Python'
s.index('short')

12

공백 문자를 기준으로 문자열을 리스트로 변환하기

In [12]:
s = 'Life is too short, You need Python'
s.split(' ')

['Life', 'is', 'too', 'short,', 'You', 'need', 'Python']

중첩 리스트 person에서 인덱싱을 사용하여 아래와 같이 출력하기[ggoreb]신림동/둔산동

In [13]:
person = [
'ggoreb',
20,
['서울', '관악구', '신림동'],
['대전', '서구', '둔산동']
]

In [25]:
print('[%s]%s/%s' % (person[0],person[2][-1],person[3][-1]))

[ggoreb]신림동/둔산동

리스트 요소 정렬하기 (오름차순, 내림차순)

In [29]:
ch_list = ['p', 'y', 't', 'h', 'o', 'n']

ch_list.sort()
print(ch_list)

ch_list.sort(reverse=True)
print(ch_list)

['h', 'n', 'o', 'p', 't', 'y']
['y', 't', 'p', 'o', 'n', 'h']

연습문제
1. '부산'에 해당하는 value 출력
2. '천안' key가 존재하는지 확인
3. key 리스트 생성
4. value 리스트 생성

In [32]:
number = {
'서울': '02', '대전': '042', '부산': '051',
'광주': '062', '제주': '064'
}

print(number['부산'])
print('천안'in number)
print(number.keys())
print(number.values())

051
False
dict_keys(['서울', '대전', '부산', '광주', '제주'])
dict_values(['02', '042', '051', '062', '064'])

두 개의 집합에서 공통 요소만 출력하기 (교집합)

In [34]:
lotto_num1 = {6, 12, 17, 21, 34, 37}
lotto_num2 = {6, 12, 19, 24, 34, 41}

lotto=set(lotto_num1&lotto_num2)
print(lotto)

{34, 12, 6}

Set을 활용하여 List 요소의 중복 데이터 제거하기

In [35]:
num_list = [9, 7, 11, 26, 15, 9, 15, 26]
print(set(num_list))

{7, 9, 11, 15, 26}